.pageOrderTable {
    background: #ffffff;
    border-radius: 15px;
    width: 70%;
    overflow-x: auto;
    justify-self: center;
}

.pageOrderTable .antd-table {
    overflow: hidden;
}

.pageOrderTable .antd-table-container .ant-table-content {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
}

.pageOrderTable .ant-table-cell {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}