:root {
    /* Brand */
    --color-primary: #ff2a3b;
    --color-primary-hover: #b82330;

    /* Backgrounds */
    --color-bg-primary: rgb(11, 11, 21);
    --color-bg-accent: rgb(149, 35, 52);
    --color-bg-light: rgb(210, 194, 197);

    --color-surface: rgb(255, 255, 255);
    --color-surface-hover: rgb(243, 244, 247);

    /* Text */
    --font-family-base: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    
    --font-size-base: 1rem;
    --font-size-title: calc(var(--font-size-base) * 3.5);
    --font-size-subtitle: calc(var(--font-size-base) * 1.2);

    --color-text-primary: rgb(255, 255, 255);
    --color-text-gradient: rgb(132, 133, 144);
    --color-text-secondary: rgb(226, 228, 231);
    --color-text-surface: rgb(19, 18, 22);

    /* */
    --color-border: rgba(0, 0, 0, 0.08);
    --color-shadow: rgba(0, 0, 0, 0.08);
}

*,
*::before,
*::after { 
    box-sizing: border-box; 
}

html, body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family-base);
    font-size: 15px;
    background: transparent;
}